/* Comments */
html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
h3:hover {
    text-decoration: underline;
    color: red;
}
button:hover {
    background-color: cornflowerblue;
}

button:focus {
    background-color: darkblue;
}

h1 {
    color: purple;
    text-decoration: underline;
}
p {
    width: 50px;
    font-size: 20px;
    font-weight: 700;
    color: yellow;
    /* padding-left: 5px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 30px; */

    padding: 5px 10px 20px 30px;
    /* clockwise Top Right Bottom Left */
    /* padding: 20px 5px; */
    /* 20px top and botom, 5px left and right */
    background-color: plum;

    margin:30px;

    border: 2px solid black;
    /* size, type (solid or dashed), colour */
    border-radius: 20px;
    
}

button {
    color: white;
    background-color: black;
    border: 0;
    border-radius: 5px;
    padding: 10px;
}

/* Class selectors */
.subtitle {
    color: skyblue;
}

/* ID selectors */
#msg {
    color: green;
}
#manish {
    color: pink;
}
/* Universal selectors */

* {
    color: red;
}

